<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>

    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <div class="container">
        <ul class="grid grid-list">
            <li class="item-container">
                <div class="item">
                    <div class="item-img">
                        <img src="assets/img/plate1.png" alt="">
                    </div>
                    <div class="item-text">
                        <h3 class="title">Barbecue salad</h3>
                        <p class="subtitle">Delicious dish</p>
                    </div>
                    <p class="price">$22.00</p>
                    <button class="menu-button">
                        구매하기
                    </button>
                </div>
            </li>
            <li class="item-container">
                <div class="item">
                    <div class="item-img">
                        <img src="assets/img/plate2.png" alt="">
                    </div>
                    <div class="item-text">
                        <h3 class="title">Salad with fish</h3>
                        <p class="subtitle">Delicious dish</p>
                    </div>
                    <p class="price">$12.00</p>
                    <button class="menu-button">
                        구매하기
                    </button>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>